 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   background-image: url('../public/images/whood-bg.jpg');
   background-position: center;
   background-size: cover;
 }

 .main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 h1 {
   font-size: 3.5rem;
   font-family: 'Orbitron';
   text-align: center;
 }

 .input-items {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2rem;
   background: transparent;
   opacity: 85%;
 }

 .add-input {
   width: 35rem;
   padding: 0.5rem 1rem;
   font-size: 1.5rem;
   font-family: 'Orbitron';
   outline: none;
   border: none;
 }

 .generate {
   padding: 0.7rem;
   background-color: rgb(184, 113, 33);
   color: rgb(0, 0, 0);
   border: 0;
   cursor: pointer;
 }

 .generate:hover {
   background-color: white;
   color: rgb(184, 113, 33);
 }

 .generate i {
   font-size: 1.5rem;
 }

 .todo {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 37.6rem;
   background-color: rgb(255, 255, 255);
   margin: 1rem;
   box-shadow: 5px 5px 15px;
   border: none;
   pointer-events: none;
 transition: all 1s ease;
 }

 .todo-item {
   list-style: none;
   flex: 1;
   font-family: "Orbitron";
   font-size: 1.3rem;
   padding: 0.8rem;
 }

 .todo .complete-Btn,
 .trash-Btn {
   padding: 1.2rem;
   color: white;
   border: none;
   cursor: pointer;
   font-size: 1rem;
 }

 .todo i {
   pointer-events: none;
 }

 .complete-Btn {
   background-color: rgb(0, 196, 0);
 }

 .trash-Btn {
   background-color: red;
 }

 .fall {
   transform: translateX(8rem) translateY(120deg);
   opacity: 0;
 }

 .completed {
   text-decoration: line-through;
   opacity: 50%;
 }

 select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none;
   width: 12rem;
   padding: 0.9rem;
   border: none;
   font-family: "Orbitron";
   font-size: 1rem;
 }

 .select {
   position: relative;
   margin: 1rem;
   overflow: hidden;
 }

 .select::after {
   content: "\25BC";
   position: absolute;
   background: rgb(184, 113, 33);
   top: 0;
   right: 0;
   padding: 1rem;
   pointer-events: none;
   transition: all 0.3s ease;
 }

 .select:hover::after {
   background: white;
   color: rgb(184, 113, 33);
 }